* {
 padding: 0;
 margin: 0;
}

.con {
    min-width: 500px;
}

.title {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.title svg {
    height: 2em;
    width: 11em;
    font-size: 45px;
}

.title .text-line {
    letter-spacing: 0.1em;
    font-weight: bold;
}

.title .anim-shape {
    transform: translate(0, 0);
    animation: moving-panel 1s ease-in-out infinite alternate;
}

.title .shadow {
  transform: translate(0.15em, 0.15em);
}

.title .anim-shape--shadow {
  fill: #000;
  fill-opacity: .2;
}

@keyframes moving-panel {
    0% {
        transform: translate(-1em, 0);
    }
    100% {
        transform: translate(1em, 0);
    }
}

.author {
    display: flex;
    justify-content: center;
}

.author svg {
    height: 2em;
    width: 20em;
    font-weight: bold;
    font-size: 18px;
}

.exercise-num {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1em auto;
    width: 90%;
}

.exercise-num li {
    display: inline-block;
    padding: 0.2em 1em;
    font-size: 16px;
    cursor: pointer;
} 

.exercise-num .exercise-select {
    border-bottom: 3px solid #000;
}

.exercise-con {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    width: 80%;
}

.exercise {
    display: inline-flex;
    justify-content: flex-start;
    padding: 0.5em 0em;
    width: 27em;
    font-size: 14px;
}

.exercise span {
    color: #000;
    font-weight: bold;
}

.exercise p {
    color: #666;
}

.exercise-write {
    /*margin: 0 0.5em;*/
    width: 5em;
    font-weight: bold;
    outline: none;
    border: none;
    text-align: center;
    border-bottom: 1px solid #666;
}

.exercise-judeg {
    font-weight: bold;
}

.commit {
    display: block;
    margin: 3em auto;
    padding: 0.5em 0;
    color: #fff;
    width: 10em;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    background-color: #f40;
}
